@import url(reset.css);

#body{
	background-color: #fef7ee;
}

#wrapper{
	max-width: 1200px;
	min-width: 640px;
	margin: 0 auto;
	background: url(../../img/bg.jpg);
	border: 1px solid #c0b096;
    box-shadow: 2px 2px 10px;
    margin: 30px auto;
	text-align: center;
}

h4{
	font: normal 22px Arial;
	color: #222222;
	text-align: center;
	padding-top: 222px;
}

h4 span{
	font: bold 22px Arial;
	color: #e6482b;
	margin-top: 245px;
    text-align: center;
}


.top_line{
	background: url(../../img/top_postcard.jpg) no-repeat;
	height: 22px;
	display: block;
	background-size:  100% 100%;
}

#title_page{
	text-align: center;	
	border-bottom: 4px solid #000000;
	margin: 0 20px;
}

.title_country a{
    text-decoration: none;
}

.title_country a img{
	height: 90px;
    width: 90px;
   	margin: 0 15px -25px 0;
 }

.title_country a img:hover{
	opacity: 0.8;
}

.title_country{
	color: #e6482b;
    display: inline-block;
    font: bold 46px Arial;
    height: 90px;
    padding: 20px;
	overflow: hidden;
}

#all_photogalery_logo{
	background: url("../../img/logo_photogalery_01.png") no-repeat;
    display: inline-block;
    height: 135px;
    width: 600px;
}

#photogalery{
	margin: 30px 20px;
	border: 1px solid #c0b096;
    box-shadow: 2px 2px 10px;
}


.list_city_photogalery a {
	text-decoration: none;
	height: 210px;
	width: 280px;
	display: block;
}

.list_city_photogalery{
	border: 4px dotted #000000;
    box-shadow: 0 0 1px 1px #00000080;
    display: inline-block;
    height: 272px;
    margin: 30px 20px;
    padding: 20px  10px 10px;
    text-align: center;
}

.bottom_line{
	background: url(../../img/bottom_postcard.jpg) no-repeat;
	height: 22px;
	display: block;
	background-size:  100% 100%;
}

.interval_01{
	height: 240px;
	display: block;
	background: url(../../img/logo_photogalery_01.png) no-repeat;
	background-size: auto 100%;
	opacity: 0.4;
}

.list_city_photogalery{
    filter: grayscale(1);
}

.list_city_photogalery:hover{
	box-shadow: 3px 3px 15px;
    filter: grayscale(0);
    cursor: pointer;
}

#wien_link {
	background: url(../../img/all_city/wien_link_col.jpg) no-repeat;
}

#brussel_link {
	background: url(../../img/all_city/brussel_link_col.jpg) no-repeat;
}

#prague_link {
	background: url(../../img/all_city/prague_link_col.jpg) no-repeat;
}

#paris_link {
	background: url(../../img/all_city/paris_link_col.jpg) no-repeat;
}

#berlin_link {
	background: url(../../img/all_city/berlin_link_col.jpg) no-repeat;
}

#athens_link {
	background: url(../../img/all_city/athens_link_col.jpg) no-repeat;
}

#budapest_link {
	background: url(../../img/all_city/budapest_link_col.jpg) no-repeat;
}

#rome_link {
	background: url(../../img/all_city/rome_link_col.jpg) no-repeat;
}

#amsterdam_link {
	background: url(../../img/all_city/amsterdam_link_col.jpg) no-repeat;
}

#warszawa_link {
	background: url(../../img/all_city/warszawa_link_col.jpg) no-repeat;
}

#porto_link {
	background: url(../../img/all_city/porto_link_col.jpg) no-repeat;
}

#madrid_link {
	background: url(../../img/all_city/madrid_link_col.jpg) no-repeat;
}

#barcelona_link {
	background: url(../../img/all_city/link_barcelona_col.jpg) no-repeat;
}

#valencia_link {
	background: url(../../img/all_city/valencia_link_col.jpg) no-repeat;
}

#stockholm_link {
	background: url(../../img/all_city/stockholm_link_col.jpg) no-repeat;
}

#istanbul_link {
	background: url(../../img/all_city/istanbul_link_col.jpg) no-repeat;
}

wien
antwerpen
brugge
brussel
prague
paris
beauvais
berlin
nuremberg
athens
budapest
venice
firenze
rome
napoli
pompeii
sorrento
amsterdam
warszawa
krakow
lublin
porto
lisboa
sintra
cascais
cabo_da_roca
madrid
barcelona
valencia
stockholm
istanbul
lviv